// .post-title-small {
//     font-size: 16px;
// }
//
// .category-small {
//     font-size: ?px;
// }

.post-title-medium {
    font-size: 24px;
    line-height: 27px;
    color: white;
    font-family: 'Raleway';
    margin-top: 0.5rem;
}

.category-medium {
    font-size: 20px !important;
}

.post-title-large {
    font-size: 40px;
    line-height: 45px;
    color: white;
    font-family: 'Raleway';
    margin-top: 0.5rem;
}

.category-large {
    font-size: 24px !important;
}