@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@mixin Bottom-SliderSettings() {
    width: 100% !important;
    height: 95vh !important;
    color: white;    
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

.slider-1{
    @include Bottom-SliderSettings();
    background-image: url(/assets/bottom-slider-1.jpeg);
}

.slider-2 {
    @include Bottom-SliderSettings();
    background-image: url(/assets/bottom-slider-2.jpeg);
}

.slider-3 {
    @include Bottom-SliderSettings();
    background-image: url(/assets/bottom-slider-3.jpeg);
}

.bottom-slider {
    width: 100%;
    color: white;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

.slider-text {
    padding-top: 470px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 0.5px;
}

.slider-category a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Cormorant Garamond', sans-serif;
    cursor: pointer;
    color: white;
    text-decoration: none !important;
    list-style: none;
}

.slider-title {
    font-size: 56px;
    font-family: 'Raleway';
    font-weight: 400;
    margin-top: 15px;
    width: 760px;
}

.slider-button {
    font-size: 13px;
    width: 92px;
    height: 35px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Raleway';
    cursor: pointer;
}