// 565 * 800

.image-l-1 {
    width: 565px;
    height: 800px;
}

.image-l-2, .image-l-3 {
    width: 267.5px;
    height: 398.5px;
}

.image-l-4, .image-l-5 {
    width: 267.5px;
    height: 371.5px;
}

.h2 {
    width: 565px;
    top: 470px;
}