.parent {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 27px;
    position: relative;    
    padding-left: 16px;
    padding-top: 16px;
}

.lifestyle-post-1, .lifestyle-image-1 {
    grid-area: 1 / 1 / 3 / 2;
    width: 521px;
    height: 750px;
}
.lifestyle-post-2, .lifestyle-image-2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 250px;
    height: 375px;
}
.lifestyle-post-3, .lifestyle-image-3 {
    grid-area: 1 / 3 / 2 / 4;
    width: 250px;
    height: 375px;
}
.lifestyle-post-4, .lifestyle-image-4 {
    grid-area: 2 / 2 / 3 / 3;
    width: 250px;
    height: 347.5px;
}
.lifestyle-post-5, .lifestyle-image-5 {
    grid-area: 2 / 3 / 3 / 4;
    width: 250px;
    height: 347.5px;
}

.lifestyle-image-1:hover, .lifestyle-image-2:hover, .lifestyle-image-3:hover, .lifestyle-image-4:hover, .lifestyle-image-5:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: 0.25s ease;
}

.lifestyle-info-1, .lifestyle-info-2, .lifestyle-info-3, .lifestyle-info-4, .lifestyle-info-5 {
    top: 0px;
}

.lifestyle-info-1 {
    width: 521px;
    height: 750px;
}

.lifestyle-info-2, .lifestyle-info-3 {
    width: 250px;
    height: 375px;
}

.lifestyle-info-4, .lifestyle-info-5 {
    width: 250px;
    height: 347.5px;
}