@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.city-life-box, .lifestyle-box, .street-views-box, .most-recent-box, .blog-recent-box {
    margin-top: 64px;
    margin-bottom: 64px;
}

.city-life-box>.city-life-box-outer, .lifestyle-box>.lifestyle-box-outer, .street-views-box>.street-views-box-outer, .most-recent-box>.most-recent-box-outer, .blog-box>.blog-box-outer {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.city-life-box>.city-life-box-outer>.city-life-box-inner, .lifestyle-box>.lifestyle-box-outer>.lifestyle-box-inner,.street-views-box>.street-views-box-outer>.street-views-box-inner, .most-recent-box>.most-recent-box-outer>.most-recent-box-inner, .blog-box>.blog-box-outer>.blog-box-inner {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.city-life-box-content, .lifestyle-box-content, .street-views-box-content, .most-recent-box-content, .blog-box-content {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    flex: 1;
    max-width: 100%;
    min-width: 0;
}

.city-life, .lifestyle, .street-views, .most-recent, .blog {
    margin-bottom: 32px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: 'Raleway';
}

.image1, .image2 {
    width: 520px;
}

.image3, .image4, .image5 {
    width: 333.33px;
    height: 350px;
}

.image:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: 0.25s ease;
}

.blog-button, .most-recent-button {
    border-top: 1px solid #e9ecef;
}