.most-recent1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 27px;
    position: relative;
    padding-left: 16px;
    padding-top: 16px;
    margin-right: 16px;
    justify-items: stretch;
    width: 1112px;
}

.most-recent-post-16, .most-recent-image-16 {
    grid-area: 1 / 1 / 2 / 2;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-17, .most-recent-image-17 {
    grid-area: 1 / 2 / 2 / 3;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-18, .most-recent-image-18 {
    grid-area: 1 / 3 / 2 / 4;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-19, .most-recent-image-19 {
    grid-area: 2 / 1 / 3 / 2;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-20, .most-recent-image-20 {
    grid-area: 2 / 2 / 3 / 3;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-21, .most-recent-image-21 {
    grid-area: 2 / 3 / 3 / 4;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-22, .most-recent-image-22 {
    grid-area: 3 / 1 / 4 / 2;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-23, .most-recent-image-23 {
    grid-area: 3 / 2 / 4 / 3;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-24, .most-recent-image-24 {
    grid-area: 3 / 3 / 4 / 4;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-25, .most-recent-image-25 {
    grid-area: 4 / 1 / 5 / 2;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-26, .most-recent-image-26 {
    grid-area: 4 / 2 / 5 / 3;
    width: 339.3px;
    height: 450px;
}
.most-recent-post-27, .most-recent-image-27 {
    grid-area: 4 / 3 / 5 / 4;
    width: 339.3px;
    height: 450px;
}

.most-recent-info-16, .most-recent-info-17, .most-recent-info-18, .most-recent-info-19, .most-recent-info-20, .most-recent-info-21, .most-recent-info-22, .most-recent-info-23, .most-recent-info-24, .most-recent-info-25, .most-recent-info-26, .most-recent-info-27{
    top: 0px;
    width: 339.3px;
    height: 450px;
    padding: 25px;
}

.most-recent-title-16, .most-recent-title-17, .most-recent-title-18, .most-recent-title-19, .most-recent-title-20, .most-recent-title-21, .most-recent-title-22, .most-recent-title-23, .most-recent-title-24, .most-recent-title-25, .most-recent-title-26, .most-recent-title-27 {
    margin-top: 0.5rem;
    font-size: 24px;
    color: white;
    font-family: 'Raleway';
    line-height: 1.125;
    padding-top: 5px;
}

.post-share, .title-share {
    display: flex;
    align-items: center;
    margin-top: 0.85rem;
    margin-left: 1px;
}

.title-share {
    margin-top: 0 !important;
}

.post-share .title-share .cs-icon-arrow-right {
    margin-left: 1.5rem;
}

.arrow-right-image {
    width: 20px;
    height: 10px;
    // margin-bottom: 1px;
}

.title-share {
    color: rgba(255, 255, 255, 0.75) !important;
    font-family: 'Raleway';
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;
}

.twitter-logo {
    width: 18px !important;
}

.load-more-button {
    font-size: 13px;
    width: 1100px;
    height: 35px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    font-family: "Raleway";
}

.load-more {
    width: 92px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    color: white;
    text-decoration: none;
    cursor: pointer;
}