* {
    box-sizing: border-box;
}

.footer-section {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.categories a {
    font-size: 12px;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Raleway";
}

.categories a:hover {
    opacity: 0.5;
    transition: 0.15s all ease-in-out;
}

.footer-description {
    margin-top: 15px;
    font-size: 16px;
    color: #a0a0a0;
    font-family: 'Raleway';
}

.like-counter {
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.instagram-images {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.footer-image {
    transition: opacity 0.5s ease;
}

.footer-image img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.instagram-image-section {
    width: 100%;
    height: 80%;
}

.image-like {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-like, .like-counter {
    background-color: #3a454d;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .instagram-image {
        flex: 1 1 200px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.footer-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.instagram-image:hover {
    opacity: 0.75;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.instagram-image:hover .image-like {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.footer-like, .like-counter {
    width: 25px !important;
    height: 22.5px !important;
}