.box {
    position: absolute;
    z-index: 2;
    width: 85%;
    margin-top: 30px;
    max-width: 1250px;
}

.app-bar {
    background-color: initial;
    box-shadow: initial;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: initial;
}